In [1]:
import pandas as pd
import numpy as np
import matplotlib
%matplotlib inline

In [2]:
df_numeric = pd.read_csv("train_numeric.csv")

In [3]:
df_numeric.head()

,Id,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,...,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,Response
0,4,0.030,-0.034,-0.197,-0.179,0.118,0.116,-0.015,-0.032,0.020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,7,0.088,0.086,0.003,-0.052,0.161,0.025,-0.015,-0.072,-0.225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,9,-0.036,-0.064,0.294,0.330,0.074,0.161,0.022,0.128,-0.026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,11,-0.055,-0.086,0.294,0.330,0.118,0.025,0.030,0.168,-0.169,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [36]:
df_tags = df_numeric[["Id", "Response"]]
len(df_numeric)

1183747

In [45]:
# generate value count map
vc_map = {col: df_numeric[col].value_counts() for col in df_numeric.columns[1:-1]}

In [63]:
# group features into lines and stations
lines = {}
for col in df_numeric.columns[1:-1]:
    piece = [pc[1:] for pc in col.split("_")]
    
    if len(piece) != 3:
        print "Invalid column format: %s" % col
        continue
        
    if piece[0] not in lines:
        lines[piece[0]] = {}
    
    if piece[1] not in lines[piece[0]]:
        lines[piece[0]][piece[1]] = []
    
    lines[piece[0]][piece[1]].append((piece[2], col))

In [72]:
print len(lines['0'])
print sum([len(lines['0'][col]) for col in lines['0']])
print len(lines['1'])
print sum([len(lines['1'][col]) for col in lines['1']])
print len(lines['2'])
print sum([len(lines['2'][col]) for col in lines['2']])
print len(lines['3'])
print sum([len(lines['3'][col]) for col in lines['3']])

24
168
2
513
3
42
21
245

In [77]:
# analysis of line 2 data
lines['2'].keys()

['26', '27', '28']

In [85]:
df_226 = df_numeric[[tup[1] for tup in lines['2']['26']] + ['Id', 'Response']]

In [86]:
df_226.head()

,L2_S26_F3036,L2_S26_F3040,L2_S26_F3047,L2_S26_F3051,L2_S26_F3055,L2_S26_F3062,L2_S26_F3069,L2_S26_F3073,L2_S26_F3077,L2_S26_F3106,L2_S26_F3113,L2_S26_F3117,L2_S26_F3121,L2_S26_F3125,Id,Response
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,0

In [90]:
# NaN count check
nan_count = {}
for col in df_226.columns[:-2]:
    nan_count[col] = len(filter(lambda x: x, [np.isnan(part) for part in df_226[col].tolist()]))

0

In [135]:
# output columns with strictly NaN values
def strictly_nan(df):
    return [col for col in df.columns if df[col].isnull().all()]

In [138]:
nan_226 = strictly_nan(df_226.T)

In [139]:
len(nan_226)

956736

In [141]:
df_226_cut = df_226.T[list(set(df_226.T.columns) - set(nan_226))].T

In [144]:
len(df_226_cut)

227011